{% extends 'layouts/app_base.html' %}
{% load static %}
{% block title %}Facilities{% endblock %}

{% block content %}

<div class="container-fluid mt-3">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card shadow-sm border-0" style="margin-top: 10px">
                <div class="card-header text-primary d-flex justify-content-between align-items-center" id="card-table-hearder">
                    <label class="mb-0">
                        MANAGE FACILITIES
                    </label>
                </div>
                <div class="card-body">
                    <div id="alert-section" class="alert d-none" role="alert">
                        Message
                    </div>

                    <div class="card shadow-sm border-0">
                        <div class="card-body p-2">
                            <div class="table-responsive">
                                <table id="tableData" class="table table-sm w-100 text-nowrap">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Facility ID</th>
                                            <th>Facility Name</th>
                                            <th>Location</th>
                                            <th class="text-center">Capacity</th>
                                            <th class="text-center font-weight-bold ">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for facility in facilities %}

                                            <tr>
                                                <td class="text-center">{{ facility.facility_id }}</td>
                                                <td>{{ facility.facility_name }}</td>
                                                <td>{{ facility.location }}</td>
                                                <td class=text-center>{{ facility.capacity }}</td>
                                                <td class="text-center">
                                                    <!-- EDIT BUTTON -->
                                                    <a href="{% url 'edit_facility' facility.facility_id %}"
                                                    class="btn btn-xs btn-outline-secondary py-0 px-2"
                                                    title="Edit Facility">
                                                         Edit
                                                    </a>

                                                    <!-- DELETE BUTTON (AJAX) -->
                                                    <button type="button"
                                                            class="btn btn-xs btn-outline-danger py-0 px-2"
                                                            onclick="confirmDelete('{{ facility.facility_id }}')">
                                                        Delete
                                                    </button>
                                                </td>
                                            </tr>

                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-gray-light d-flex justify-content-end">
                    <a href="{% url 'add_facility' %}" class="btn btn-default btn-sm mr-2" title="Add Facility" onclick="ShowLoading()"id="card-button-footer">
                        <i class="fa fa-plus"></i> Add Facility
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function confirmDelete(facility_id) {
        showConfirmation({
            title: "Delete Facilty #" + facility_id + "?",
            message: "Continue Deleting?",
            subMessage: "",
            confirmText: "Yes, Delete",
            confirmClass: "btn-danger",
            icon: "fa-trash",
            iconColor: "text-danger",
            onConfirm: function () {
                DeleteFacility(facility_id);
            }
    });

    }

    function DeleteFacility(facility_id)
    {
        $.ajax({

            url: "{% url 'delete_facility' %}",
            type: "POST",

            data: {
                facility_id: facility_id,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (response) {

                showAlert("Facility Deleted Successfully", "success");

                setTimeout(function(){
                    window.location.href =
                        "{% url 'facility_list' %}";

                }, 3000);
            },
            error: function (xhr) {

                showAlert("Error deleting facility", "error");

                console.log(xhr.responseText);
            }

        });
    }


</script>

{% endblock %}